* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: iranisans;
    src: url(fonts/IranianSans.woff);
}

@font-face {
    font-family: yekan;
    src: url(fonts/yekan.woff2);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: iranisans;
    background-color: #243f2f;
    padding: 1em 3em;
}

header>* {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00d783;
}

header nav {
    width: 25%;
}

header nav ul {
    width: 100%;
    color: #ebffdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main div.slide-show {
    position: relative;
}

main div.slide-show div.caption-slide {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 3em;
    font-family: yekan;
    line-height: 2em;
    font-weight: 900;
    color: #ebffdc;
}

main div.slide-show div.caption-slide :nth-child(2) {
    background: url(images/background-text/1.webp) no-repeat right;
    background-size: 50%;
}

main div.slide-show div.explore>* {
    background-color: #243f2f;
    color: #ebffdc;
    text-align: center;
}

main div.slide-show div.explore a {
    border-radius: 3rem;
    font-size: 1.5em;
    position: absolute;
    bottom: 2em;
    right: 3em;
    padding: .7em 2em;
    transition: .5s;
}

main div.slide-show div.explore a:hover {
    background-color: #ebffdc;
    color: #243f2f;
}

main div.slide-show div.explore a i {
    color: #00d783;
}

main div.slide-show div.explore>span {
    font-size: 1.3em;
    position: absolute;
    bottom: 3.2em;
    right: 18em;
    padding: 0 .2em;
}

